<% include ./partials/header %>
<link rel="stylesheet" href="./../public/css/admin.css">
<div class="container-fluid">
    <h5 class="alert alert-info text-center">Veichle by types</h5>
    <div class="type-chart">
        <canvas id="type-chart"></canvas>
    </div>
</div>

<div class="container">
    <h5 class="alert alert-warning text-center">Search database</h5>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="./../public/js/charts.js"></script>
<!-- 1.by type 2. -->