<link rel="stylesheet" href="./../public/css/video.css">
<% include ./partials/header %>

<div class="alert alert-dismissible " id="flash">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>

<div class="row">

  <div class="col-sm-6 entry-gate">
    <h5 class="text-center alert alert-warning">Entry Gate</h5>
    <video class="player" id="entryVideoPlayer" controls muted autoplay>
    </video>
  </div>

  <div class="col-sm-6 exit-gate">
    <h5 class="text-center alert alert-warning">Exit Gate</h5>
    <video class="player" id="exitVideoPlayer" controls muted autoplay>
    </video>
  </div>
</div>



<div class="container">
  <div class="info row">

    <!-- entry gate form -->
    <div class="myform col-sm-6">

      <form>
        <div class="form-group">
          <label for="v-type">Type</label>
          <select class="form-control" required name="v-type" id="v-type">
            <option selected disabled value="">Veichle type</option>
          </select>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="v-state">State</label>
            <select class="form-control" required name="v-state" id="v-state" onchange="handleStateCode(this.value);">
              <option selected disabled value="">State code</option>
            </select>
          </div>

          <div class="form-group col-sm-3">
            <label for="">Area</label>
            <select name="a-code" id="a-code" class="form-control" required>
              <option disabled value="" selected>Select state first </option>
            </select>
          </div>

          <div class="form-group col-sm-3">
            <label for="v-series">Series</label>
            <input style="text-transform: uppercase;" type="text" id="v-series" name="a-series" class="form-control"
              required />
          </div>

          <div class="col-sm-3 form-group">
            <label for="v-number">Number</label>
            <input type="text" class="form-control" id="v-number" name="v-number" required />
          </div>
        </div>

        <button type="button" onclick="handleForm()" class="btn btn-info">Add veichle</button>
      </form>

    </div>

    <!-- exit gate form -->
    <div class="myform col-sm-6">
      <label for="exitSelect">Which vehicle left?</label>
      <select name="exitSelect" class="form-control" id="exitSelect">
        <option selected disabled>Which veichle left?</option>
      </select>
      <button type="button" onclick="handleExit()" class="btn btn-info">Exit veichel</button>
    </div>
  </div>
</div>

<div class="mycanvas">
  <h6 class="alert alert-info text-center">Captured screenshot</h6>
  <canvas></canvas>
</div>

<script src="./../public/js/video.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./../public/js/form.js"></script>