.type-chart{
    width: 50%;
    margin: 0 25% 0 25%;
    box-sizing: border-box;
    max-width: 100%;;
    border: 1px saddlebrown solid;
}

#v-number{
    text-transform: capitalize;
}

#photo{
    border: 1px solid red;
    width: 300px;
    height: 300px;

}